@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To My Personal Blog!</h1>
    <p class="lead">Here you can keep up with my status throughout the rest of the course at Coder Foundry.</p>
    <p><a href="" class="btn btn-primary btn-lg">My Posts &raquo;</a></p>
</div>

<div class="row">

</div>